<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lodgename" property="name" jdbcType="VARCHAR" />
    <result column="minprice" property="minprice" jdbcType="DOUBLE" />
    <result column="photo1" property="photo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
	<!-- 查询商品推荐 -->
	<select id="selectGoodsByRecommend" resultMap="BaseResultMap">
		select id,lodgename,minprice,photo1,('lodge') as 'type' from lodge  where recommend='1'
		union all select id,gentryname,minprice,photo1,('gentry') as 'type'  from gentry  where recommend='1'
		union all select id,product_name,minprice,photo1,('service') as 'type' from service_product  where recommend='1'
		union all select id,specialtiesname,minprice,photo1,('specialties') as 'type' from specialties  where recommend='1'
		union all select id,name,minprice, photo1,('ticket')as 'type' from ticket  where recommend='1'
	</select>
  
  <select id="selectGoodsListByName" resultMap="BaseResultMap">
  		select id,lodgename,minprice,photo1,('lodge') as 'type' from lodge 
  		<where>
  			<if test="name!=null and name !=''">
  				and lodgename like concat('%',#{name},'%')
  			</if>
  		</where> 
		union all select id,gentryname,minprice,photo1,('gentry') as 'type'  from gentry  
		  <where>
  			<if test="name!=null and name !=''">
  				and gentryname like concat('%',#{name},'%')
  			</if>
  		</where> 
		union all select id,product_name,minprice,photo1,('service') as 'type' from service_product 
		  <where>
  			<if test="name!=null and name !=''">
  				and product_name like concat('%',#{name},'%')
  			</if>
  		</where> 
		union all select id,specialtiesname,minprice,photo1,('specialties') as 'type' from specialties 
		<where>
  			<if test="name!=null and name !=''">
  				and specialtiesname like concat('%',#{name},'%')
  			</if>
  		</where> 
		union all select id,name,minprice, photo1,('ticket')as 'type' from ticket 
		 <where>
  			<if test="name!=null and name !=''">
  				and name like concat('%',#{name},'%')
  			</if>
  		</where> 
		  		
	  		
  		

  </select>
  
  
</mapper>