<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.InsureMlxcMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.InsureMlxc" >
    <id column="insure_id" property="insureId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="photo1" property="photo1" jdbcType="VARCHAR" />
    <result column="photo2" property="photo2" jdbcType="VARCHAR" />
    <result column="photo3" property="photo3" jdbcType="VARCHAR" />
    <result column="photo4" property="photo4" jdbcType="VARCHAR" />
    <result column="photo5" property="photo5" jdbcType="VARCHAR" />
    <result column="publictime" property="publictime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    insure_id, title, content, photo1, photo2, photo3, photo4, photo5, publictime
  </sql>
  
  <select id="selectInsureMlxcList" resultMap="BaseResultMap" >
  		select insure_id,title,photo1 from insure_mlxc
  </select>
    <select id="selectInsureMlxcList1" resultMap="BaseResultMap" >
  		select insure_id, title, content, photo1, photo2, photo3, photo4, photo5, publictime from insure_mlxc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from insure_mlxc
    where insure_id = #{insureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from insure_mlxc
    where insure_id = #{insureId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.mlxc.pojo.InsureMlxc" >
    insert into insure_mlxc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="insureId != null" >
        insure_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="photo1 != null" >
        photo1,
      </if>
      <if test="photo2 != null" >
        photo2,
      </if>
      <if test="photo3 != null" >
        photo3,
      </if>
      <if test="photo4 != null" >
        photo4,
      </if>
      <if test="photo5 != null" >
        photo5,
      </if>
      <if test="publictime != null" >
        publictime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="insureId != null" >
        #{insureId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        #{publictime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlxc.pojo.InsureMlxc" >
    update insure_mlxc
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        photo1 = #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        photo2 = #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        photo3 = #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        photo4 = #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        photo5 = #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        publictime = #{publictime,jdbcType=DATE},
      </if>
    </set>
    where insure_id = #{insureId,jdbcType=INTEGER}
  </update>

</mapper>