<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.ServiceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.ServiceOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_flag1" property="typeFlag" jdbcType="INTEGER" />
    <result column="serviceRoom" property="serviceroom" jdbcType="VARCHAR" />
    <result column="indentName" property="indentname" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="audit" property="audit" jdbcType="VARCHAR" />
    <result column="generateTime" property="generatetime" jdbcType="DATE" />
    <result column="begintime" property="begintime" jdbcType="DATE" />
    <result column="pay" property="pay" jdbcType="VARCHAR" />
    <result column="identification" property="identification" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="product_name" property="productname" jdbcType="VARCHAR" />
    <result column="minprice" property="minprice" jdbcType="DOUBLE" />
    <result column="type_name" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_flag, serviceRoom, indentName, telphone, audit, generateTime, begintime, 
    pay, identification
  </sql>
  
   <sql id="Service_Column_List" >
    so.id, so.type_flag as type_flag1,so.generateTime,so.indentName,so.pay,so.audit, so.telphone,so.serviceRoom,so.begintime,  
    so.identification,sp.manufacturer, sp.product_name, sp.minprice,f.type_name
  </sql>
  <!-- ****查询服务订单列表**** -->
  <select id="selectServiceOrders" resultMap="BaseResultMap">
  		select  <include refid="Service_Column_List" /> 
  		from service_order so,service_product sp,flag_checklist f
  		where so.type_flag =sp.id
  		and sp.type_flag=f.id
  		<if test="begintime!=null">
  			<if test="begintime!=''">
  				 and so.generateTime>=#{begintime}
  			 </if>
  		</if>
  		<if test="endtime!=null">
  			<if test="endtime!=''">
  				<![CDATA[ and so.generateTime<=#{endtime}]]>
  			</if>
  		</if>
  		<if test="name!=null">
  			<if test="name!=''">
  				and   so.indentName like concat('%',#{name},'%')
  			</if>
  		</if>
  		order by generateTime desc
  		<if test="page!=null">
  			limit #{page.beginIndex},#{page.endIndex}
  		</if>
  </select>
  
  
 <!--查询数量  -->
 <select id="selectServiceOrderCount" resultType="java.lang.Integer">
 		select count(1) from service_order where 1=1 
 		<if test="begintime!=null">
 			<if test="begintime!=''">
  			 and generateTime>=#{begintime}
  			 </if>
  		</if>
  		<if test="endtime!=null">
  			<if test="endtime!=''">
  				<![CDATA[ and generateTime<=#{endtime}]]>
  			</if>
  		</if>
  		<if test="name!=null">
  			<if test="name!=''">
  				and   indentName like concat('%',#{name},'%')
  			</if>
  		</if>
 </select>
 
 
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlxc.pojo.ServiceOrder" >
    insert into service_order (id, type_flag, serviceRoom, 
      indentName, telphone, audit, 
      generateTime, begintime, pay, 
      identification)
    values (#{id,jdbcType=INTEGER}, #{typeFlag,jdbcType=INTEGER}, #{serviceroom,jdbcType=VARCHAR}, 
      #{indentname,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, #{audit,jdbcType=VARCHAR}, 
      #{generatetime,jdbcType=DATE}, #{begintime,jdbcType=DATE}, #{pay,jdbcType=VARCHAR}, 
      #{identification,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mlxc.pojo.ServiceOrder" >
    insert into service_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeFlag != null" >
        type_flag,
      </if>
      <if test="serviceroom != null" >
        serviceRoom,
      </if>
      <if test="indentname != null" >
        indentName,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="generatetime != null" >
        generateTime,
      </if>
      <if test="begintime != null" >
        begintime,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="identification != null" >
        identification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeFlag != null" >
        #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="serviceroom != null" >
        #{serviceroom,jdbcType=VARCHAR},
      </if>
      <if test="indentname != null" >
        #{indentname,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=VARCHAR},
      </if>
      <if test="generatetime != null" >
        #{generatetime,jdbcType=DATE},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=DATE},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlxc.pojo.ServiceOrder" >
    update service_order
    <set >
      <if test="typeFlag != null" >
        type_flag = #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="serviceroom != null" >
        serviceRoom = #{serviceroom,jdbcType=VARCHAR},
      </if>
      <if test="indentname != null" >
        indentName = #{indentname,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=VARCHAR},
      </if>
      <if test="generatetime != null" >
        generateTime = #{generatetime,jdbcType=DATE},
      </if>
      <if test="begintime != null" >
        begintime = #{begintime,jdbcType=DATE},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        identification = #{identification,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlxc.pojo.ServiceOrder" >
    update service_order
    set type_flag = #{typeFlag,jdbcType=INTEGER},
      serviceRoom = #{serviceroom,jdbcType=VARCHAR},
      indentName = #{indentname,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      audit = #{audit,jdbcType=VARCHAR},
      generateTime = #{generatetime,jdbcType=DATE},
      begintime = #{begintime,jdbcType=DATE},
      pay = #{pay,jdbcType=VARCHAR},
      identification = #{identification,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>