<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.ServiceProductMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.ServiceProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_flag" property="typeFlag" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="photo2" property="photo2" jdbcType="VARCHAR" />
    <result column="photo3" property="photo3" jdbcType="VARCHAR" />
    <result column="photo1" property="photo1" jdbcType="VARCHAR" />
    <result column="photo4" property="photo4" jdbcType="VARCHAR" />
    <result column="photo5" property="photo5" jdbcType="VARCHAR" />
    <result column="minprice" property="minprice" jdbcType="DOUBLE" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_flag, product_name, content, photo2, photo3, photo1, photo4, photo5, minprice, 
    manufacturer, recommend
  </sql>
  
   <sql id="Service_Column_List" >
    sp.id, sp.type_flag,  sp.product_name,  sp.content,  sp.photo2,  sp.photo3,  sp.photo1,  sp.photo4,  sp.photo5,  sp.minprice, 
     sp.manufacturer,  sp.recommend
  </sql>
  <!-- 查询服务列表 返回 id,名称，图片，价格 -->
  <select id="selectServiceProductList" resultMap="BaseResultMap">
  		select id,product_name,minprice,photo1 from service_product
  
  </select>
  <!-- 查询服务列表 返回 id,名称，图片，价格 -->
  <select id="selectServiceProductList1" resultMap="BaseResultMap">
  		select id,type_flag,product_name,minprice,photo1,manufacturer,content from service_product
  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Service_Column_List" />,f.type_name
    from service_product sp,flag_checklist f
    where sp.type_flag=f.id  and sp.id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlxc.pojo.ServiceProduct" >
    insert into service_product (id, type_flag, product_name, 
      content, photo2, photo3, 
      photo1, photo4, photo5, 
      minprice, manufacturer, recommend
      )
    values (#{id,jdbcType=INTEGER}, #{typeFlag,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{photo2,jdbcType=VARCHAR}, #{photo3,jdbcType=VARCHAR}, 
      #{photo1,jdbcType=VARCHAR}, #{photo4,jdbcType=VARCHAR}, #{photo5,jdbcType=VARCHAR}, 
      #{minprice,jdbcType=DOUBLE}, #{manufacturer,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mlxc.pojo.ServiceProduct" >
    insert into service_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeFlag != null" >
        type_flag,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="photo2 != null" >
        photo2,
      </if>
      <if test="photo3 != null" >
        photo3,
      </if>
      <if test="photo1 != null" >
        photo1,
      </if>
      <if test="photo4 != null" >
        photo4,
      </if>
      <if test="photo5 != null" >
        photo5,
      </if>
      <if test="minprice != null" >
        minprice,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeFlag != null" >
        #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="minprice != null" >
        #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlxc.pojo.ServiceProduct" >
    update service_product
    <set >
      <if test="typeFlag != null" >
        type_flag = #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        photo2 = #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        photo3 = #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        photo1 = #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        photo4 = #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        photo5 = #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="minprice != null" >
        minprice = #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlxc.pojo.ServiceProduct" >
    update service_product
    set type_flag = #{typeFlag,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      photo2 = #{photo2,jdbcType=VARCHAR},
      photo3 = #{photo3,jdbcType=VARCHAR},
      photo1 = #{photo1,jdbcType=VARCHAR},
      photo4 = #{photo4,jdbcType=VARCHAR},
      photo5 = #{photo5,jdbcType=VARCHAR},
      minprice = #{minprice,jdbcType=DOUBLE},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>