<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.TicketOrderMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.TicketOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_flag" property="typeFlag" jdbcType="INTEGER" />
    <result column="indentName" property="indentname" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="audit" property="audit" jdbcType="VARCHAR" />
    <result column="generateTime" property="generatetime" jdbcType="DATE" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="minprice" property="minprice" jdbcType="DOUBLE" />
    <result column="pay" property="pay" jdbcType="VARCHAR" />
    <result column="identification" property="identification" jdbcType="VARCHAR" />
    <result column="usetime" property="usetime" jdbcType="DATE" />
     <result column="minpriceone" property="minpriceone" jdbcType="DOUBLE" />
     <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
     <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_flag, indentName, telphone, audit, generateTime, quantity, minprice, pay, 
    identification, usetime
  </sql>

 <sql id="Ticket_Column_List" >
    t1.id, t1.type_flag, t1.indentName, t1.telphone, 
    t1.audit, t1.generateTime, t1.quantity, t1.minprice, t1.pay, 
    t1.identification, t1.usetime,t.name,t.minprice as minpriceone ,t.manufacturer
  </sql>
  
  <select id="selectTicketCount" resultType="java.lang.Integer">
  		 select count(1) from ticket_order where 1=1
		
  		<if test="begintime!=null">
  			<if test="begintime!=''">
  			 and generateTime>=#{begintime}
  			 </if>
  		</if>
  		<if test="endtime!=null">
  			<if test="endtime!=''">
  				<![CDATA[ and generateTime <=#{endtime}]]>
  			</if>
  			
  		</if>
  		<if test="name!=null and name!=''">
  			and indentName like concat('%',#{name},'%')
  		</if>
  </select>
  
  <!-- 查询票务订单方法 -->
  <select id="selectTicketAll" resultMap="BaseResultMap">
  		select <include refid="Ticket_Column_List" />
  		
  		from ticket_order t1,ticket t  where t1.type_flag=t.id

  		<if test="begintime!=null and begintime!=''">
  			 and t1.generateTime>=#{begintime}
  		</if>
  		<if test="endtime!=null and endtime!=''">
  				<![CDATA[ and t1.generateTime<=#{endtime}]]>
  		</if>
  		<if test="name!=null and name!=''">
  			and   t1.indentName like concat('%',#{name},'%')
  		</if>
  		order by generateTime desc
  		<if test="page!=null">
  			limit #{page.beginIndex},#{page.endIndex}
  		</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ticket_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ticket_order
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.mlxc.pojo.TicketOrder" >
    insert into ticket_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeFlag != null" >
        type_flag,
      </if>
      <if test="indentname != null" >
        indentName,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="generatetime != null" >
        generateTime,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="minprice != null" >
        minprice,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="identification != null" >
        identification,
      </if>
      <if test="usetime != null" >
        usetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeFlag != null" >
        #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="indentname != null" >
        #{indentname,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=VARCHAR},
      </if>
      <if test="generatetime != null" >
        #{generatetime,jdbcType=DATE},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="minprice != null" >
        #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlxc.pojo.TicketOrder" >
    update ticket_order
    <set >
      <if test="typeFlag != null" >
        type_flag = #{typeFlag,jdbcType=INTEGER},
      </if>
      <if test="indentname != null" >
        indentName = #{indentname,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=VARCHAR},
      </if>
      <if test="generatetime != null" >
        generateTime = #{generatetime,jdbcType=DATE},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="minprice != null" >
        minprice = #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        identification = #{identification,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null" >
        usetime = #{usetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>