<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlxc.mapper.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.mlxc.pojo.Ticket" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="minprice" property="minprice" jdbcType="DOUBLE" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="photo1" property="photo1" jdbcType="VARCHAR" />
    <result column="photo2" property="photo2" jdbcType="VARCHAR" />
    <result column="photo3" property="photo3" jdbcType="VARCHAR" />
    <result column="photo4" property="photo4" jdbcType="VARCHAR" />
    <result column="photo5" property="photo5" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, minprice, content, photo1, photo2, photo3, photo4, photo5, manufacturer, 
    recommend
  </sql>
  <!--   查询票务列表 返回 id，价格，名称，图片 -->
  <select id="selectTicketList" resultMap="BaseResultMap" >
  	select id,minprice,photo1,name from ticket
  </select>
  <!--   查询票务列表 返回 id，价格，名称，图片 -->
  <select id="selectTicketList1" resultMap="BaseResultMap" >
  	select   id, name, minprice, content, photo1, photo2, photo3, photo4, photo5,recommend from ticket
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.mlxc.pojo.Ticket" >
    insert into ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="minprice != null" >
        minprice,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="photo1 != null" >
        photo1,
      </if>
      <if test="photo2 != null" >
        photo2,
      </if>
      <if test="photo3 != null" >
        photo3,
      </if>
      <if test="photo4 != null" >
        photo4,
      </if>
      <if test="photo5 != null" >
        photo5,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="minprice != null" >
        #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlxc.pojo.Ticket" >
    update ticket
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="minprice != null" >
        minprice = #{minprice,jdbcType=DOUBLE},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        photo1 = #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        photo2 = #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        photo3 = #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        photo4 = #{photo4,jdbcType=VARCHAR},
      </if>
      <if test="photo5 != null" >
        photo5 = #{photo5,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>